//////*How to set the navbar*///////////////////////////
#header-1 {
    .bg-custom {
      //opacity:0.7;
      background: rgb(255, 255, 255);
    }
    div {
      ul {
        a {
          color: $myColor;
          font-size: 1.8rem;
          &:hover {
            color: black;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .dropdown-menu {
    a {
      font-size: 14px;
    }
  }
  .dropdown {
    margin-top: -5px;
  }
  .custom-toggler.navbar-toggler {
    border: 2px solid $myColor;
  }
  .custom-toggler {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(80,170,178, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-toggler:active {
    @extend .navbar-toggler:focus;
  }
  .navbar-toggler-icon:focus {
    @extend .navbar-toggler:focus;
  }
 
  .container1 {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    width: 100%;
    margin: auto;
    grid-auto-rows: auto;

    &--2{
      padding: 4rem;
      margin-top: 10rem;
    }
  }

  //////////////////displayMain section
  .displayMain {
    padding: 5rem;
    background-color: #fff;
  }

  .exibitionMain {
    padding: 0 5rem 5rem 5rem;
  }

  //////////////header primary
  .heading-primary {
    display: flex;
    flex-direction: column;

    &--main{
      color: #231f20;
      line-height: 1.5;
      text-transform: capitalize;
      font-size: 200%;
      font-weight: 400;
    }

    &--sub {
      color: #231f20;
      letter-spacing: 1;
      text-transform: none;
      line-height: 1;
      font-size: 100%;
      font-weight: 300;
    }
  }

  ///////////////section detail for artpiece
  .section-detail {
    padding: 1rem 0;
    background-color: #fff;
    margin-top: 14rem;
  }

  .containerD {
    display: flex;
    margin: 2rem auto;
    max-width: 114rem;
  }

  .detailImage {
    flex: 0 0 45%;
    margin-right: 4rem;
  }

  .contentBody {
    flex: 1;
  }

  .detailCard {
    background-color:#fff;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(#000, .15);
    box-shadow: 1rem 1.5rem 4rem rgba(#000, .15);
    position: relative;
    height: 50rem;

    &__picture {
         background-size: cover;

         &--1 {
             width: 100%;
             height: 50rem;
         }
    }
   
}

// styling the content
.content {
  padding: 2rem 5rem;
  height: 25rem;
}

.heading-secondary {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;

 
}

.heading-tetiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;

  &--1 {
      text-transform: capitalize;
      float: right;
  }
  
}

.paragraph {
  font-size:1.6rem;
  // to remove space in the last part of the paragraph
  &:not(:last-child) {
      margin-bottom: 3rem;
  }
}

////////////////////////////buttton
.buttonClick {
  &,
&:link,
&:visited {
  position: absolute;
  text-transform: uppercase;
  text-decoration: none; 
  display: inline-block;
  left: 23rem;
  padding: 10px 25px;
  border: 1px solid #ebebeb;
  border-radius: 50px;
  font-family: 'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .875em;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #303336;
  background-color: #fff;
  cursor: pointer;
  transition: 300ms;

}
&:hover {
  transform: translateY(-0.3rem);
  /* adding box-show on hover. since we dont want offset in x-direction */
  box-shadow: 0 1rem 2rem rgba(#000,0.2);
  border: 1px solid #bebebe;
}
&:active,
&:focus {
  // to remove the blue border
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(#000,0.2);
}
}