<section class="displayMain">
    <div class="u-margin-bottom-medium">
        <h2 class="heading-primary">
            <span class="heading-primary--main"> latest art pieces</span>
            <span class="heading-primary--sub">The latest from Sai Arts Gallery in Gulu</span>
            
        </h2>
    </div>
    {% include 'snippets/latestpieces.html' %}
    <div class="u-center-text u-margin-top-medium">
        <!-- btn is green -->
        <a href="{% url 'main:allartpieces' %}" class="button button--white">View All</a>
        
    </div>
</section>