<section class="exibitionMain">
    <div class="u-margin-bottom-medium">
        <h2 class="heading-primary">
            <span class="heading-primary--main">Exhibitions</span>
            <span class="heading-primary--sub">The latest from Afriart Gallery around the world</span>
            
        </h2>
    </div>
    {% include 'snippets/exibitedLatestpieces.html' %}
    <div class="u-center-text u-margin-top-medium">
        <!-- btn is green -->
        <a href="#" class="button button--white">View All</a>
        
    </div>
</section>