<section class="exibitionMain" id="exibitions">
    <div class="u-margin-bottom-medium">
        <h2 class="heading-primary">
            <span class="heading-primary--main">Exhibitions</span>
            <span class="heading-primary--sub">The latest from Afriart Gallery around the world</span>
            
        </h2>
    </div>
    {% include 'snippets/exibitedLatestpieces.html' %}
    <div class="u-center-text u-margin-top-medium">
        <!-- btn is green -->
        <a href="{% url 'main:allexibitedpieces' %}" class="button button--white">
            <svg class="arrow__icon">
                <!-- to use the svg, we use use xlink -->
                <use xlink:href="../static/sprite.svg#icon-plus"></use>
            </svg>
            View All</a>
        
    </div>
</section>