<section class="bg-white container-fluid mt-5 mb-4" id="Contact-us">
    <div class="row mx-auto one">
         <a href="#" class=" font-weight-bold text-right my-2">&mdash; CONTACT US &mdash;</a>
  </div>
     <div class="row mx-auto my-2">
       <h3 class="text-center mx-auto font-weight-bold">Find Us Anywhere</h3>
     </div>
     <div class="row mx-auto total my-3">
       <div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-4 mx-auto pt-3 pb-2 d-flex flex-column justify-content-start align-items-center">
         <h4 class="font-weight-bold text-dark mt-2 text-center">GET IN TOUCH</h4>
         <a href="#" class="py-1 text-center">lorem@ipsum.com</a>
         <a href="#" class="py-1 text-center">(+961) 974-6498-072</a>
         
       </div>
       
       <div class="col-7 col-sm-5 col-md-4 col-lg-4 col-xl-4 mx-auto pt-3 pb-2 d-flex flex-column justify-content-start align-items-center">
         <h4 class="font-weight-bold text-dark mt-2 text-center">ADDRESS</h4>
         <p href="#" class="py-1 text-center text-dark">92 Lorem ipsum dolor sit amet, consectetur adipiscing elit.imperdiet ut massa. </p>
        
         
       </div>
       
       
       <div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-4 mx-auto pt-3 pb-2 d-flex flex-column justify-content-start align-items-center">
         <h4 class="font-weight-bold mt-2 text-center text-dark">STUDIO</h4>
         <a href="#" class="py-1 text-center">Terms of Condition</a>
         <a href="#" class="py-1 text-center">Privacy Policy</a>
   
       </div>
       
       </div>
     <div class="row mx-auto my-4">
      </div>
          <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mx-auto pt-sm-4 py-md-2 d-flex flex-column justify-content-start align-items-center text-white">
         <p class="font-weight-bold">COMMUNITY</p>
         <a href="#" class="py-1">Facebook</a>
         <a href="#" class="py-1">Twitter</a>
         <a href="#" class="py-1">Google</a>
         
       </div>
       
     </section>
     
   <section class=" container-fluid" id="footer">
      <footer id="foot">
        <p class="text-center mt-4 font-weight-bold">&copy; SAI ARTS GULU 2020</p>
     </footer>
     </section>   
   
   
   
