{% load static  %}

{% block content %}
  <div class="container1 container1--1">
    {% for object in home %}
    <div class="card">
      {% if object.upload  %}
      <div class="card-header">
        <img src="{{ object.upload.url }}" alt="" />
      </div>
      {% endif %}
      <div class="card-body">
        <span class="tag tag-teal">Technology</span>
        <h4>Why is the Tesla Cybertruck designed the way it is?</h4>
        <p>{{ object.body|truncatechars:150|linebreaks }}
        </p>
        <div class="user">
          <img src="{{ object.upload.url }}" alt="" />
          <div class="user-info">
            <h5>{{ object.artist }}</h5>
            <small>{{ object.publish_date }}</small>
            <a href="{{ object.get_absolute_url }}" class="btn-text">click me &rarr;</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- <div class="card">
      <div class="card-header">
        <img src="../../static/images/sai ART Galler-Gulu.JPG" alt="" />
      </div>
      <div class="card-body">
        <span class="tag tag-purple">Place</span>
        <h4>
          Hot Air Ballooning in Nepal - 1 Day - Nepal Mother House Treks
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          dolor nihil saepe. Nobis nihil minus similique hic quas mollitia.
          Error.
        </p>
        <div class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSft5PLhaSb6QUdT0yRu3rjlam1Rt--WDJ6yQ&usqp=CAU" alt="" />
          <div class="user-info">
            <h5>Lewis Daniels</h5>
            <small>Yesterday</small>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="card">
      <div class="card-header">
        <img src="../../static/images/the Vocalist - Sai ARTs.jpg" alt="" />
      </div>
      <div class="card-body">
        <span class="tag tag-pink">Travel</span>
        <h4>New York City | Layout, People, Economy, Culture, & History</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          consequuntur sequi suscipit iure fuga ea!
        </p>
        <div class="user">
          <img src="https://3.bp.blogspot.com/--sCpJJGYWEA/W2P4C51CYSI/AAAAAAAAQcI/LR4U_--Wf1E3wz7RLZtmwBPObm_ky9tQQCLcBGAs/s1600/beautiful-indian-women-photos-1.jpg" alt="" />
          <div class="user-info">
            <h5>Carrie Brewer</h5>
            <small>23 Dec 2020</small>
          </div>
        </div>
      </div>
    </div> -->

  </div>
  {% endblock %}