<header id="header-1">
  <nav class="navbar bg-custom navbar-expand-md fixed-top py-0 navbar-inverse"id="navbarStyle">
    <a class="navbar-brand py-2 my-1" href="{% url 'main:main' %}">
      <img src="../../static/images/SAI ART FOUNDATION - logo.jpg" alt="Emma-Rees-Designs" width=120></a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="collapsibleNavbar">
       <ul class="navbar-nav font-weight-bold ml-auto" id="listed">
          <li class="nav-item my-1 ml-3">
              <a class="nav-link d-inline active text-dark" href="{% url 'main:main' %}">Home</a>
          </li>
          <li class="nav-item my-1 ml-3">
              <a class="nav-link d-inline" href="{% url 'main:about' %}" >About Us</a>
          </li>
          <li class="nav-item my-1 ml-3">
              <a class="nav-link d-inline" href="{% url 'main:main' %}#Our-Team" onclick="OurTeam()">Artists</a>
          </li>
          <li class="nav-item dropdown text-center ml-3 ">
            <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Pieces</a>
            <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                <a class="dropdown-item font-weight-bold" href="{% url 'main:allartpieces' %}">All ArtPieces</a>
                <a class="dropdown-item font-weight-bold" href="{% url 'main:allexibitedpieces' %}">All Exibitions</a>
                
            </div>
        </li>
          <li class="nav-item my-1 ml-3">
              <a class="nav-link d-inline" href="{% url 'main:main' %}#exibitions" onclick="exibitions()">Exibitions</a>
          </li>
          <li class="nav-item my-1 ml-3">
              <a class="nav-link d-inline" href="{% url 'main:main' %}#Contact-us">Contact Us</a>
          </li>
           
   </div>  
 </nav> 
</header> 
      
      <style>
        #navbarStyle{
          -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
        }
        
      </style>
