{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <body class="bg-custom">
        <!-- nav section -->
    {% include 'snippets/navbar.html' %}

  <div class="container1 container1--2">
    {% for object in home %}
    <div class="card">
      {% if object.upload  %}
      <div class="card-header">
        <img src="{{ object.upload.url }}" alt="" />
      </div>
      {% endif %}
      <div class="card-body">
        <span class="tag tag-teal">{{object.name}}</span>
        <h4>Why is the Tesla Cybertruck designed the way it is?</h4>
        <p>{{ object.body|truncatechars:150|linebreaks }}
        </p>
        <div class="user">
          <img src="{{ object.upload.url }}" alt="" />
          <div class="user-info">
            <h5>{{ object.artist }}</h5>
            <small>{{ object.publish_date }}</small>
          </div>
          <a href="{{ object.get_absolute_url }}" class="buttonClick buttonClick--2">READ MORE 
            <svg class="arrow__icon">
              <!-- to use the svg, we use use xlink -->
              <use xlink:href="../static/sprite.svg#icon-arrow-right"></use>
          </svg>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
    
    <!-- footer -->
    {% include 'snippets/footer.html' %}
    </body>

    

    {% endblock %}