    {% extends 'base.html' %}
    {% load static %}
    {% load thumbnail %}
    
        {% block content %}
        <body class="bg-custom">
            <!-- nav section -->
        {% include 'snippets/navbar.html' %}
        <!-- detaillPiece-->
        <section class="section-detail">
            <div class="containerD">
                <div class="detailImage">
                    <div class="detailCard">
                        {% if artpiece.upload %}
                        <div class="detailCard__picture">
                            {% thumbnail artpiece.upload 500x700 crop="smart" as im %}
                            <img src="{{ im.url }}" alt="" class="detailCard__picture--1">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="contentBody">
                    <div class="content">
                        <h1 class="heading-secondary">{{ artpiece.name }}</h1>
                        <p class="paragraph">{{ artpiece.body }}</p>

                        <h1 class="heading-tetiary--1">
                            <strong>...By {{ artpiece.artist }}</strong></h1>   
                    </div>
                </div>
               
            </div>
        </section>
        
        <!-- footer -->
        {% include 'snippets/footer.html' %}
        </body>
    
        
    
        {% endblock %}